main {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url(/images/me.png), url(/images/background-main-01.png);
    background-repeat: no-repeat;
    background-size: 33vh, cover;
    background-position: bottom,center;
    display:flex;
    justify-content: center;
    align-items:   center;
    z-index: 100;
}

main .main-intro h1{
    font-size: 96px;
    line-height: 106px;
}

main p{
    font-size: 18px;
    line-height: 30px;
}
main a{
    font-family: "barlow condensed bold", sans-serif;
    font-size: 18px;    
    display:block;
    color: black;
    background-color: var(--smthlikecyan);
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 25px;
    width: fit-content;
}

main .main-quotes p{
    border-left: 3px solid var(--smthlikecyan);
    padding-left: 20px;
    margin: 40px 0;
}
main .main-quotes p:nth-child(2){
    margin-left: 60px;
}

main .main-intro{
    position: relative;
    right: 20vh;
    padding-bottom: 20vh;
}


main .main-quotes{
    position: relative;
    left: 5vh;
    padding-bottom: 20vh;
}