/* body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url();
    
} this is for making sure image hovers load in with everything,
 instead of loading after we hover over  the image
 probably wont use this though who knows */

:root{
    --main-background-color: linear-gradient(to right,rgb(42, 41, 41),rgb(49, 61, 60));
    --header-background-color: rgb(224, 218, 218);
    --smthlikecyan: cyan;
}

@font-face {
    font-family: "barlow condensed bold";
    src: url(/Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
@font-face {
    font-family: "barlow condensed";
    src: url(/Fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}

body{
    background: var(--main-background-color);
    padding-top: 60px;
}
h1{
    font-size: 26px;
    line-height: 32px;
    color: white;
    font-family: "barlow condensed bold", sans-serif;
    text-transform: uppercase;
    
}

p{
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-family: "barlow condensed", sans-serif;
    
}

.header-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--header-background-color);    
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
    display:flex;
    
}
.header-main-logo img{
    height: 60px;
    justify-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
}

.header-main-nav ul{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;

}

.header-main-nav ul li a{
    font-family: "barlow condensed", sans-serif;
    font-size: 30px;
    line-height: 60px;
    text-decoration: none;
    color:black;
    display: block;
    height: 100%;
    transition: color 0.3s ease;
}

.header-main-nav ul li a:hover{
    color:var(--smthlikecyan);
}

.header-main-sm{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
    padding-right: 10px;
    display:flex;
    align-items: center;
    column-gap: 20px;
}

.header-main-sm-gh{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/github.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-main-sm-gh:hover{
    background-size: 40px 40px;
    filter: brightness(1.2);
}

.header-main-sm-ca{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/codeacademy.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-main-sm-ca:hover{
    background-size: 40px 40px;
    filter: brightness(1.2);
}

/* FOOTER SECTION OF PAGE*/
footer{
    width: 100%;
    height: fit-content;
    padding: 60px 0 40px 0;
    background-color: var(--header-background-color);
    margin-top: 50px;
    font-family: "barlow condensed", sans-serif;
    color: black;
    border-top: 2px solid #ddd;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
}

.footer-sitemap {
    display: flex;
    gap: 80px;
    width: 100%;
    justify-content: space-between;
}

.footer-sitemap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-sitemap ul:first-child {
    padding-left: 20px;
    border-left: 3px solid var(--smthlikecyan);
}

.footer-sitemap ul:first-child li {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.footer-sitemap ul:first-child li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    font-weight: 600;
}

.footer-sitemap ul:first-child li a:hover {
    color: var(--smthlikecyan);
}

.footer-sitemap ul:last-child {
    text-align: right;
}

.footer-sitemap ul:last-child li {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.footer-sitemap ul:last-child li:first-child {
    font-weight: 700;
    color: var(--smthlikecyan);
    font-size: 20px;
    margin-bottom: 10px;
}


