/* body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url();
    
} this is for making sure image hovers load in with everything,
 instead of loading after we hover over  the image
 probably wont use this though who knows */

:root{
    --main-background-color: linear-gradient(to right,rgb(42, 41, 41),rgb(49, 61, 60));
    --header-background-color: rgb(224, 218, 218);
    --smthlikecyan: cyan;
}
html{
    font-size: 62.5%;
}

@font-face {
    font-family: "barlow condensed bold";
    src: url(/Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
@font-face {
    font-family: "barlow condensed";
    src: url(/Fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}

body{
    background: var(--main-background-color);
    padding-top: 6rem;
}
h1{
    font-size: 2.6rem;
    line-height: 1.5;
    color: white;
    font-family: "barlow condensed bold", sans-serif;
    text-transform: uppercase;
    
}

p{
    font-size: 1.6rem;
    line-height: 1.75;
    color: white;
    font-family: "barlow condensed", sans-serif;
    
}

.header-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--header-background-color);    
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
    display:flex;
    
}
.header-main-logo img{
    height: 6rem;
    justify-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
}

.header-main-nav ul{
    display:flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;

}

.header-main-nav ul li a{
    font-family: "barlow condensed", sans-serif;
    font-size: 3.0rem;
    line-height: 6rem;
    text-decoration: none;
    color:black;
    display: block;
    height: 100%;
    transition: color 0.3s ease;
}

.header-main-nav ul li a:hover{
    color:var(--smthlikecyan);
}

.header-main-sm{
    width: fit-content;
    height: 100%;
    background-color: var(--header-background-color);
    padding-right: 1rem;
    display:flex;
    align-items: center;
    column-gap: 2rem;
}

.header-main-sm-gh{
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/github.png);
    background-repeat: no-repeat;
    background-size: 3.5rem 3.5rem;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-main-sm-gh:hover{
    background-size: 4rem 4rem;
    filter: brightness(1.2);
}

.header-main-sm-ca{
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/codeacademy.png);
    background-repeat: no-repeat;
    background-size: 3.5rem 3.5rem;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-main-sm-ca:hover{
    background-size: 4rem 4rem;
    filter: brightness(1.2);
}

/* ============================================
   FOOTER SECTION
   ============================================ */


footer{
    width: 100%;
    height: fit-content;
    padding: 6rem 0 4rem 0;
    background-color: var(--header-background-color);
    margin-top: 5rem;
    font-family: "barlow condensed", sans-serif;
    color: black;
    border-top: 2px solid #ddd;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-sitemap {
    display: flex;
    gap: 8rem;
    width: 100%;
    justify-content: space-between;
}

.footer-sitemap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-sitemap ul:first-child {
    padding-left: 2rem;
    border-left: 0.3rem solid var(--smthlikecyan);
}

.footer-sitemap ul:first-child li {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 0;
    padding: 0;
}

.footer-sitemap ul:first-child li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    font-weight: 600;
}

.footer-sitemap ul:first-child li a:hover {
    color: var(--smthlikecyan);
}

.footer-sitemap ul:last-child {
    text-align: right;
}

.footer-sitemap ul:last-child li {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 0;
    padding: 0;
}

.footer-sitemap ul:last-child li:first-child {
    font-weight: 700;
    color: var(--smthlikecyan);
    font-size: 2rem;
    margin-bottom: 1rem;
}



.burger-menu, .burger-menu-button{
    display:none;
}


/* ============================================
   RESPONSIVE SECTION
   ============================================ */


@media only screen and (max-width: 600px) {
    .burger-menu-button{
        display:block;
        width: 50px;
        height: 50px;
        background-image: url(/images/burger-menu.png), url(/images/x-png-transparent-11.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }

    .burger-menu{
        display:none;
        position:fixed;
        width:100%;
        height:100vh;
        z-index: 900;
        background: var(--main-background-color);
    }

    .burger-menu ul{
        width: 100%;
        height: calc(100vh - 6rem);
        display:flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .burger-menu ul li{
        flex-basis: 100%;
        border-top: 2px solid var(--smthlikecyan);
    }

    .burger-menu ul li:last-child{
        border-bottom: 2px solid var(--smthlikecyan);
    }

    .burger-menu ul li a{
        display:block;
        height: 100%;
        font-size: 3rem;
        padding: 3rem 0;
        flex-basis:100%;
        text-align: center;
        text-decoration-line: none;
        color: white;
    }



    .header-main-nav{
        display: none;
    }
    .header-main-sm{
        padding-right: 1rem;
    }
    footer {
        padding: 4rem 0 3rem 0;
        margin-top: 3rem;
    }

    footer .wrapper {
        padding: 0 1.5rem;
        gap: 2rem;
    }

    .footer-sitemap {
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }

    .footer-sitemap ul:first-child {
        padding-left: 0;
        border-left: none;
        order: 2; /* Contact info comes first on mobile */
    }

    .footer-sitemap ul:first-child li {
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin: 0.5rem 0;
    }

    .footer-sitemap ul:last-child {
        order: 1; /* Navigation comes second on mobile */
        text-align: center;
        border-bottom: 2px solid var(--smthlikecyan);
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }

    .footer-sitemap ul:last-child li {
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin: 0.3rem 0;
    }

    .footer-sitemap ul:last-child li:first-child {
        font-weight: 700;
        color: var(--smthlikecyan);
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}
