/* body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url();
    
} this is for making sure image hovers load in with everything,
 instead of loading after we hover over  the image
 probably wont use this though who knows */

body{
    background-color: rgb(74, 71, 71);
}
.header-main{
    width: 100%;
    height: 60px;
    background-color: white;    
    display: flex;
    justify-content: space-between;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: white;
    display:flex;
    
    
    
}
.header-main-logo img{
    height: 60px;
    justify-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: white;
}

.header-main-nav ul{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;

}

.header-main-nav ul li{

}

.header-main-nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
    text-decoration: none;
    color:black;
}

.header-main-sm{
    width: fit-content;
    height: 100%;
    background-color: white;
    padding-right: 60px;
    display:flex;
    align-items: center;
    column-gap: 20px;
}

.header-main-sm-gh{
    height: 30px;
    width: 30px;
    background-image: url(/images/github.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-main-sm-ca{
    height: 30px;
    width: 30px;
    background-image: url(/images/codeacademy.png);
    background-repeat: no-repeat;
    background-size: cover;
}