/* body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url();
    
} this is for making sure image hovers load in with everything,
 instead of loading after we hover over  the image
 probably wont use this though who knows */
@font-face {
    font-family: "barlow condensed";
    src: url(/Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
body{
    background: linear-gradient(to right,rgb(42, 41, 41),rgb(49, 61, 60));
}
.header-main{
    width: 100%;
    height: 60px;
    background-color: white;    
    display: flex;
    justify-content: space-between;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: white;
    display:flex;
    
}
.header-main-logo img{
    height: 60px;
    justify-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: white;
}

.header-main-nav ul{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;

}

.header-main-nav ul li a{
    font-family: "barlow condensed", sans-serif;
    font-size: 30px;
    line-height: 60px;
    text-decoration: none;
    color:black;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color:cyan;
}

.header-main-sm{
    width: fit-content;
    height: 100%;
    background-color: white;
    padding-right: 10px;
    display:flex;
    align-items: center;
    column-gap: 20px;
}

.header-main-sm-gh{
    height: 35px;
    width: 35px;
    background-image: url(/images/github.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-main-sm-gh:hover{
    height: 40px;
    width: 40px;
}
.header-main-sm-ca{
    height: 35px;
    width: 35px;
    background-image: url(/images/codeacademy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-ca:hover{
    height: 40px;
    width: 40px;
}
